* {
    box-sizing: border-box;
}

/* Global Helper classes */
/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}


html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 5em;
    font-size: 13px;
}

header a{
    color: #333
}

header a:hover{
    text-decoration: underline;
}

header,
footer {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul,
footer ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header li,
footer li {
    list-style: none;
    padding: 0 0.5em 0 0.5em;
}

header a,
footer a{
    text-decoration: none;
}

main {
    text-align: center;
}

.searchbar {
    border: solid 1px lightgray;
    width: 584px;
    height: 46px;
    margin: 0 auto;
    padding-left: 3.5em;
    border-radius: 25px;
    margin-top: 1em;
}

form {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

form svg {
    color: #9aa0a6;
    font-size: 1em;
    position: absolute;
    left: 15px;
    top: 27px;
}

.buttons {
    margin: 2em;
}

button {
    margin: 0 auto;
    padding: 0.5em;
    background-color: #f4f4f4;
    color: #5f6368;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: solid #e4e4e4 1px;
    margin-top: 8em;
    background-color: #f2f2f2;
    font-size: 14px;
}

footer nav a{
    color: #5f6368;
}

footer nav a:hover{
    text-decoration: underline;
}